<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course.linkflower.link.system.dao.PrivilegeMapper">
    <select id="countCode" resultType="int">
        select count(*) from privilege where `code`=#{code} limit 1
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="course.linkflower.link.system.model.Privilege">
        insert into privilege(name, type, code, ordering, remark, parent_id)
        values(#{name},#{type},#{code},#{ordering},#{remark},#{parentId})
    </insert>

    <select id="countLast" resultType="Integer">
        select ordering from privilege where type=#{type} order by ordering desc limit 1
    </select>

    <delete id="deleteAllById">
        delete p.*, rp.*, ppg.* from privilege p
        left join role_privilege rp on p.id=rp.privi_id
        left join privilege_privilege_group ppg on p.id=ppg.privi_id
        where p.id=#{id}
    </delete>

    <delete id="deleteAllByIds">
        delete p.*, rp.*, ppg.* from privilege p
        left join role_privilege rp on p.id=rp.privi_id
        left join privilege_privilege_group ppg on p.id=ppg.privi_id
        where p.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update privilege
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="code and code!=''">code=#{code},</if>
            <if test="ordering and ordering!=''">ordering=#{ordering},</if>
            <if test="remark and remark!=''">remark=#{remark},</if>
        </set>
        where id=#{id}
    </update>

    <select id="getOne" resultType="course.linkflower.link.system.model.Privilege">
        select * from privilege where id=#{id} limit 1
    </select>

    <select id="search" resultType="course.linkflower.link.system.vo.privilege.PrivilegeVo">
        select * from privilege
        <trim prefix="where" prefixOverrides="and">
            type=#{type} and parent_id=#{parentId}
            <if test="searchKey and searchKey!=''">and (name like '%${searchKey}%' or code like '%${searchKey}%')</if>
        </trim>
        order by ordering desc
        limit #{pageStart}, #{pageSize}
    </select>

    <select id="countTotal" resultType="int">
        select count(*) from privilege
        <trim prefix="where" prefixOverrides="and">
            type=#{type} and parent_id=#{parentId}
            <if test="searchKey and searchKey!=''">and (name like '%${searchKey}%' or code like '%${searchKey}%')</if>
        </trim>
    </select>
</mapper>