<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course.linkflower.link.system.dao.RoleUserGroupMapper">
    <select id="userGroupInfo" resultType="course.linkflower.link.system.vo.usergroup.UserGroupInfoVo">
        select ug.id, ug.name, type, code from (user_group ug right join role_user_group rug on ug.id=rug.user_group_id)
        where role_id=#{roleId}
    </select>

    <select id="roleIdsByIds" resultType="Long">
        select r.id from role r
        right join role_user_group rug on r.id=rug.role_id
        where rug.user_group_id in
        <foreach collection="userGroupIds" open="(" close=")" separator="," item="userGroupId">
            #{userGroupId}
        </foreach>
    </select>

    <insert id="saves">
        insert into role_user_group(role_id, user_group_id)
        values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{roleId}, #{userGroupId})
        </foreach>
    </insert>
</mapper>