<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course.linkflower.link.oneframework.car.dao.CarDictMapper">
    <select id="countTypeKey" resultType="int">
        select count(*) from car_dict where type=#{type} and `key`=#{key} limit 1
    </select>

    <insert id="add" parameterType="course.linkflower.link.oneframework.model.CarDict" useGeneratedKeys="true" keyProperty="id">
        insert into car_dict(value, `key`, type, ordering) values (#{value},#{key},#{type},#{ordering})
    </insert>

    <select id="getById" resultType="course.linkflower.link.oneframework.model.CarDict">
        select * from car_dict where id=#{id} limit 1
    </select>

    <select id="lastOrdering" resultType="Integer">
        select ordering from car_dict where type=#{type} order by ordering desc limit 1
    </select>

    <delete id="deleteById">
        delete from car_dict where id=#{id}
    </delete>

    <delete id="deleteByIds">
        delete from car_dict where id in
        <foreach collection="ids" separator="," close=")" open="(" item="id">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update car_dict
        <set>
            <if test="value!=null and value!=''">value=#{value},</if>
            <if test="key!=null and key!=''">`key`=#{key},</if>
            <if test="ordering!=null and ordering!=''">ordering=#{ordering},</if>
        </set>
        where id=#{id}
    </update>

    <select id="countTypeKeyDiffId" resultType="int">
        select count(*) from car_dict where type=#{type} and `key`=#{key} and id!=#{id}
    </select>

    <select id="listByType" resultType="course.linkflower.link.oneframework.model.CarDict">
        select * from car_dict where type=#{type} order by ordering asc limit #{maxCount}
    </select>

    <select id="countAll" resultType="int">
        select count(*) from car_dict where type=#{type}
        <if test="searchKey!=null and searchKey!=''">
            and (`key` like '%${searchKey}%' or `value` like '%${searchKey}%')
        </if>
    </select>

    <select id="search" resultType="course.linkflower.link.oneframework.car.vo.cardict.SearchVo">
        select * from car_dict where type=#{type}
        <if test="searchKey!=null and searchKey!=''">
            and (`key` like '%${searchKey}%' or `value` like '%${searchKey}%')
        </if>
        order by ordering limit #{pageStart}, #{pageSize}
    </select>

    <select id="listInfoByType" resultType="course.linkflower.link.oneframework.car.vo.cardict.CarDictInfoVo">
        select `key`, value from car_dict where type=#{type}
    </select>
</mapper>