<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course.linkflower.link.oneframework.house.dao.HouseHighlightMapper">
    <select id="getById" resultType="course.linkflower.link.oneframework.house.model.HouseHighlight">
        select * from house_highlight where id=#{id}
    </select>

    <insert id="save" parameterType="course.linkflower.link.oneframework.house.model.HouseHighlight" useGeneratedKeys="true" keyProperty="id">
        insert into house_highlight (rent_house_info_id, highlight_id)
        values(#{rentHouseInfoId},#{HighlightId})
    </insert>

    <delete id="delete">
        delete from house_highlight where id=#{id}
    </delete>
    <delete id="deletes">
        delete from house_device where rent_house_info_id=#{id}
    </delete>
    <update id="update" parameterType="course.linkflower.link.oneframework.house.model.HouseHighlight" useGeneratedKeys="true">
        update house_highlight set `rent_house_info_id`=#{rentHouseInfoId},`highlight_id` = #{HighlightId} where id = #{id}
    </update>
    <select id="countRepeat" resultType="int">
        select count(*) from house_highlight where `rent_house_info_id` = #{rentHouseInfoId} and `highlight_id` = #{HighlightId}
    </select>
    <insert id="saves" >
        insert into house_highlight (`rent_house_info_id`,`highlight_id`) values
        <foreach item="item" collection="array" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>
</mapper>